<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.twitli.android.twitter">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:name="com.twitli.android.twitter.MyApplication">
        <activity
                android:name="com.twitli.android.twitter.ui.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.twitli.android.twitter.ui.IntroActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme">
        </activity>

        <activity
                android:name=".tweet.AuthCallbackActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="http"
                        android:host="www.twitli.com"/>
            </intent-filter>
        </activity>

        <service
                android:name="com.twitli.android.twitter.service.TwitService"
                android:label="Twit service"/>
        <service
                android:name="com.twitli.android.twitter.service.TwitJobService"
                android:label="Job service"
                android:permission="android.permission.BIND_JOB_SERVICE"/>

    </application>

</manifest>
